[Unit]
Description=Simple Nats responder

[Service]
ExecStart=/usr/local/pypy-4.0.1-linux-armhf-raspbian/bin/pypy \
    /home/pi/projects/txnats/example/queue_respond.py
#    --version > /app-logs/myscript.log 2>&1

# > /app-logs/myscript.log 2>&1

WorkingDirectory=/srv/www/www.example.com/static

#User=pi
#Group=user

Restart=always

[Install]
WantedBy=multi-user.target

